@page
@model nscccoursemap_matchacode.Pages.AdvisingAssignments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Advising Assignments</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdvisingAssignment[0].Instructor)
            </th>
            <th>
                Diploma Program Year Section
            </th>
            <th>
                Diploma Program
            </th>
            <th>
                Diploma Program Year
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AdvisingAssignment) {
        <tr>
           <td>
                @Html.DisplayFor(modelItem => item.Instructor.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiplomaProgramYearSection.Id)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.DiplomaProgramYearSection.DiplomaProgramYear.DiplomaProgram.Title)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.DiplomaProgramYearSection.DiplomaProgramYear.Title)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.DiplomaProgramYearSection.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
