@page
@model nscccoursemap_matchacode.Pages.Semesters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Semester</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Semester.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Semester.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Semester.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Semester.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Semester.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Semester.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Semester.AcademicYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Semester.AcademicYear.Id)
        </dd>
 

        @{
            ViewData["Title"] = "Details";
        }

        <h1>Details</h1>

        <div>
            <h4>Semester</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Semester.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Semester.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Semester.StartDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Semester.StartDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Semester.EndDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Semester.EndDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Semester.AcademicYear)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Semester.AcademicYear.Id)
                </dd>
            <dt class="col-sm-2">
                    Course Offerings
                </dt>
                <dd class="col-sm-10">
                    @foreach (var item in Model.Semester.CourseOfferings
                        .OrderBy(co =>co.DiplomaProgramYearSection.DiplomaProgramYear.DiplomaProgram.Title)
                            .ThenBy(co => co.DiplomaProgramYearSection.DiplomaProgramYear.Title)
                                .ThenBy(co => co.Course.CourseCode))
                    {
                        <li><b>Course:</b> @item.Course.CourseCode - @item.Course.Title
                            <b>Instructor:</b> @item.Instructor.FullName 
                            <b>Directed Elective:</b> @item.IsDirectedElective
                        </li>
                    }
                </dd>
            </dl>
        </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Semester.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Semester.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
